/* Style elements */
body {
  background-color: black;
  padding: 1em;
  font-family: Consolas, Menlo, Droid Sans Mono, Courier New;
  color: #c3c3c3;
}
input {
  caret-color: transparent;
  border: none;
  font-size: inherit;
  font-family: Consolas;
  color: #c3c3c3;
  background-color: black;
  border-color: purple;
  outline: none;
}
span { color: #c3c3c3; }


/* Style elements with specific #Ids */
#console-input-current:focus { outline: none; }
#help-inline {
  margin-left: 0.5ch;
  opacity: 30%;
}


/* Style elements with specific .Classes */
.console-result {
  display: block;
  white-space:pre-wrap;
}
.hide { display: none; }


/* Style element json specific classes */
/* indent all child keys and values */
.key + div { 
  padding-left: 4ch;
}


/* Style json keys */
.parent::before {
  /* Add extra new line between parent json keys */
  content: ' ';
  display: block;
}
.key { 
  /* align all text value to the right */
  white-space: pre;
}
  /* add : separator after each key*/
.key::after {
  /* key - text values */
  content: ' : ';
}
.object > .child::after{
  /* key : array values */
  content: " :";
}


/* Style json text values */
.value {
  /* align values to the right of its key */
  display: inline-grid;
}


/* Style json array values */
.array > div.element-object:nth-child(n+2) {
  /* add new line space between each object element in an array*/
  padding-top: 2ch;
}


/* Style json object values */
.child:not(:first-child) {
  /* Add extra new line between each key - array value */
  padding-top: 2ch;
}


/* Style elements with animations */
#console-cursor {
  animation: 1s blink step-end infinite;
  font-weight: bold;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #c3c3c3;
  }
}
.fade-in { animation: fadeIn ease-in 200ms; }
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:30%;
  }
}
.fade-out {
  animation: fadeOut ease-out 200ms 1;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity:30%;
  }
  100% {
    opacity:0;
  }
}
